.first{
    background-color: #F6F6FC;
}

.services120-container {
    width: 100%;
    height: 100vh;
    background-image: url('/path-to-your-image.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    
}

.services120-content {
    max-width: 800px;
    color: white;
}

.services120-content h1 {
    font-size: 55px;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 50px;
    font-family: 'open sans', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 50px;
    white-space: nowrap;
}

.services120-content p {
    font-size: 24px;
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    line-height: 35px;
    margin-top: 10px;
    white-space: nowrap;
}

.services130-container {
    background-color: #f8f8fc;
    text-align: center;
    padding: 60px 20px;
  }
  
  .services130-container h2 {
    font-size: 48px;
    font-family: 'open sans', sans-serif;
    line-height: 56px;
    color: #4d52c6;
    font-weight: bold;
  }
  
  .services130-container p {
    font-size: 24px;
    font-family: 'open sans', sans-serif;
    line-height: 30px;
    color: #5c5c5c;
    margin-top: 10px;
  }
  
  .buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  button {
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: 0.3s;
  }
  
  .talk-to-us {
    background-color: #4d52c6;
    color: white;
    width: 223.27px;
    height: 76.46px;
    border-radius: 56.21px;
  }
  
  .view-services {
    background-color: white;
    color: #4d52c6;
    border: 2px solid #4d52c6;
    width: 223.27px;
    height: 76.46px;
    border-radius: 56.21px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
.grid-container10 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    padding: 0 50px;
    margin-bottom: 70px;
    background-color: #F6F6FC; 
}

.card10 {
    width: 100%;
    box-shadow: 0px 2px 4px rgba(225, 227, 239);
    border-radius: 10px;
    background-color: #FFFFFF;
    overflow: hidden;
}

.card10 img {
    width: 100%;
    height: auto;
}

.card-content10 {
    flex-grow: 1;
    padding: 16px;
    text-align: left;
}

.card-content10 h3 {
    font-size: 25px;
    margin-bottom: 12px;
    color: #000;
}

.card-content10 p {
    color: #6B6B6B;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px;
}

.blot {
    width: 152.47px;
    height: 52.52px;
    border-radius: 30px;
    color: #4d52c6;
    background-color: #fff;
    border: 2px solid #4D52C6;
}

.hero-section103 {
  position: relative;
  width: 100%;
  height: 200vh;
  width: 100%;
  height: 150vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}


.hero-content103 {
  z-index: 2;
  text-align: left;
  margin-top: 50px;
  margin-left: 90px !important;
  max-width: 700px;
  margin-left: 5px;
  color: white;
  margin-bottom: 40px;
}

.hero-content103 h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-content103 p {
  font-size: 14px;
  font-weight: 100;
  line-height: 1.6;
}


.form-container103 {
  z-index: 2;
  background: #6464c8;
  padding: 30px;
  border-radius: 10px;
  max-width: 850px;
  margin-top: 30px;
  margin-left: 450px;
  width: 90%;
  text-align: left;
}

.form-container103 h2 {
  text-align: center;
  color: white;
  font-size: 45px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

.label1 {
  color: white;
  font-size: 17px;
  margin-bottom: 5px;
  margin-top: 10px;
}

label {
  color: white;
  font-size: 17px;
  margin-bottom: 5px;
  margin-top: 10px;
}

span {
  color: red;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  height: 70px;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
  font-size: 16px;
}

textarea {
  height: 100px;
  resize: none;
}


.submit1 {
  width: 100%;
  height: 70px;
  padding: 12px;
  background: white;
  color: #6464c8;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.submit1:hover {
  background: #f1f1f1;
}

.banner {
  position: relative;
  width: calc(100% - 90px);
  margin: 50px auto;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  min-height: 282px;
  overflow: hidden;
}


@media (max-width: 768px){
    .services120-container {
      width: 100%;
      height: 70vh;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0 20px;
  }

  .services120-content {
    max-width: 800px;
    color: white;
}

.services120-content h1 {
    font-size: 40px;
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'open sans', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 50px;
    white-space: nowrap;
}

.services120-content p {
    font-size: 17px;
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    line-height: 35px;
    margin-top: 10px;
    white-space: nowrap;
}

.services130-container {
  background-color: #f8f8fc;
  text-align: center;
  padding: 60px 50px;
}

.services130-container h2 {
  font-size: 28px;
  font-family: 'open sans', sans-serif;
  line-height: 40px;
  color: #4d52c6;
  font-weight: bold;
}

.services130-container p {
  font-size: 17px;
  font-family: 'open sans', sans-serif;
  line-height: 30px;
  color: #5c5c5c;
  margin-top: 10px;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.talk-to-us {
  background-color: #4d52c6;
  color: white;
  width: 180.27px;
  height: 60.46px;
  border-radius: 56.21px;
}

.view-services {
  background-color: white;
  color: #4d52c6;
  border: 2px solid #4d52c6;
  width: 180.27px;
  height: 60.46px;
  border-radius: 56.21px;
}

button:hover {
  opacity: 0.8;
}

.grid-container10 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 90px;
  width: 100%;
  padding: 0 50px;
  background-color: #F6F6FC; 
}

.card10 {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(225, 227, 239);
  border-radius: 10px;
  background-color: #FFFFFF;
  overflow: hidden;
}

.card-content10 h3 {
  font-size: 25px;
  margin-bottom: 20px;
  color: #000;
}

.card-content10 p {
  color: #6B6B6B;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}

.blot {
  width: 180.27px;
  height: 60.46px;
  border-radius: 30px;
  color: #4d52c6;
  background-color: #fff;
  border: 2px solid #4D52C6;
}

.hero-section103 {
  position: relative;
  width: 100%;
  height: 130vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.overlay103 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero-content103 {
  position: relative;
  z-index: 2;
  text-align: left;
  margin-top: 10px;
  max-width: 700px;
  margin-left: 5px;
  color: white;
  margin-bottom: 40px;
}

.hero-content103 h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-content103 p {
  font-size: 15px;
  font-weight: 100;
  line-height: 1.6;
}


.form-container103 {
  position: relative;
  z-index: 2;
  background: #6464c8;
  padding: 30px;
  border-radius: 10px;
  max-width: 650px;
  margin-top: 30px;
  margin-left: 100px;
  width: 90%;
  text-align: left;
}

.form-container103 h2 {
  text-align: center;
  color: white;
  font-size: 35px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

.label1 {
  color: white;
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
}

label {
  color: white;
  font-size: 17px;
  margin-bottom: 5px;
  margin-top: 10px;
}

span {
  color: red;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  height: 70px;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
  font-size: 16px;
}

textarea {
  height: 100px;
  resize: none;
}


.submit1 {
  width: 100%;
  height: 70px;
  padding: 12px;
  background: white;
  color: #6464c8;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.submit1:hover {
  background: #f1f1f1;
}

.banner {
  position: relative;
  width: calc(100% - 90px);
  margin: 50px auto;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  min-height: 282px;
  overflow: hidden;
}
 
}

@media (max-width: 375px){

  .services120-container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.services120-content {
  max-width: 800px;
  color: white;
}

.services120-content h1 {
  font-size: 20px;
  margin-left: 5px;
  margin-top: 20px;
  font-family: 'open sans', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 50px;
  white-space: nowrap;
}

.services120-content p {
  font-size: 9px;
  font-family: 'open sans', sans-serif;
  font-weight: 400;
  line-height: 35px;
  margin-top: 10px;
  white-space: nowrap;
}

.services130-container {
background-color: #f8f8fc;
padding: 60px 50px;
}

.services130-container h2 {
  color: #4d52c6;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-family: 'Open sans', sans-serif;
    margin-bottom: 10px;
}

.services130-container p {
font-size: 15px;
font-family: 'open sans', sans-serif;
line-height: 30px;
color: #5c5c5c;
margin-top: 10px;
}

.buttons {
margin-top: 30px;
display: flex;
justify-content: center;
gap: 20px;
}

button {
padding: 15px 10px;
border-radius: 30px;
font-size: 1rem;
font-weight: bold;
cursor: pointer;
border: none;
transition: 0.3s;
}

.talk-to-us {
background-color: #4d52c6;
color: white;
width: 400.27px !important;
height: 60.46px;
border-radius: 56.21px;
}

.view-services {
background-color: white;
color: #4d52c6;
border: 2px solid #4d52c6;
width: 480.27px !important;
height: 60.46px;
border-radius: 56.21px;
}

button:hover {
opacity: 0.8;
}
  

  .grid-container10 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
  width: 100%;
  padding: 0 20px;
  background-color: #F6F6FC;
  }

.card10 {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(225, 227, 239);
  border-radius: 10px;
  background-color: #FFFFFF;
  overflow: hidden;
}

.card-content10 {
    flex-grow: 1;
    padding: 16px;
    text-align: left;
}

.card-content10 h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #000;
}

.card-content10 p {
  color: #6B6B6B;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 30px;
}

.blot {
  width: 300px !important;
  height: 40px;
  border-radius: 30px;
  color: #4d52c6;
  border-color: #4D52C6;
  background-color: #fff;
}

.banner {
  width: calc(100% - 40px); /* Reduce the width */
  margin: 30px auto; /* Adjust margin */
  min-height: 200px; /* Reduce height */
  border-radius: 10px; /* Slightly smaller border-radius */
}

.hero-section103 {
  position: relative;
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.overlay103 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero-content103 {
  position: relative;
  z-index: 2;
  text-align: left;
  margin-top: -30px;
  max-width: 700px;
  margin-left: 5px;
  color: white;
  margin-bottom: 40px;
}

.hero-content103 h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-content103 p {
  font-size: 14.5px;
  font-weight: 100;
  line-height: 1.6;
}


.form-container103 {
  position: relative;
  z-index: 2;
  background: #6464c8;
  padding: 30px;
  border-radius: 10px;
  max-width: 450px;
  margin-top: 10px;
  margin-left: 20px;
  width: 98%;
  text-align: left;
}

.form-container103 h2 {
  text-align: center;
  color: white;
  font-size: 23px;
  margin-bottom: 30px;
}


form {
  display: flex;
  flex-direction: column;
}

.label1 {
  color: white;
  font-size: 14px !important;
  margin-bottom: 5px !important;
  margin-top: 10px;
}

label {
  color: white;
  font-size: 14px !important;
  margin-bottom: 1px !important;
  margin-top: 20px;
}

span {
  color: red;
}

input,
textarea {
  width: 100%;
  padding: 8px !important; /* Reduced padding */
  height: 40px !important; /* Reduced height */
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
  font-size: 12px !important; /* Slightly smaller font size */
}

textarea {
  height: 80px !important; /* Adjusted textarea height */
}

.submit1 {
  width: 100%;
  height: 50px !important;
  padding: 12px;
  background: white;
  color: #6464c8;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.submit1:hover {
  background: #f1f1f1;
}

.container120 {
  flex-direction: column;
}

.footer {
  width: 100%;
  background-color: #121212;
  padding: 100px 20px;
  text-align: left;
}

.footer-col {
  width: 100%;
  margin-bottom: 30px;
  padding: 0;
  margin-top: -90px;
  text-align: left;
}

.footer-col1{
  width: 100%;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  margin-left: 1px;
}

.footer-col2{
  width: 100%;
  margin-top: -50px;
  margin-bottom: 30px;
  padding: 0;
  text-align: left;
}

.footer-col3{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  text-align: left;
}

.footer-col h4 {
  text-align: left;
  font-size: 20px
}

.footer-col1 h4 {
  text-align: left;
  font-size: 20px
}
.footer-col2 h4 {
  text-align: left;
  font-size: 20px
}
.footer-col3 h4 {
  text-align: left;
  font-size: 20px
}

.footer-col ul li a {
  font-size: 15px;
  text-transform: capitalize;
  color: #F4F4F4;
  text-decoration: none;
  font-weight: 700;
  line-height: 24px;
  display: block;
  transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  text-overflow: ellipsis;
}

.footer-col1 ul li a {
  font-size: 15px;
  text-transform: capitalize;
  color: #F4F4F4;
  text-decoration: none;
  font-weight: 700;
  line-height: 24px;
  display: block;
  transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  text-overflow: ellipsis;
}

.footer-col2 ul li a {
  font-size: 15px;
  text-transform: capitalize;
  color: #F4F4F4;
  text-decoration: none;
  font-weight: 700;
  line-height: 24px;
  display: block;
  transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  text-overflow: ellipsis;
}

.footer-col3 ul li a {
  font-size: 15px;
  text-transform: capitalize;
  color: #F4F4F4;
  text-decoration: none;
  font-weight: 700;
  line-height: 24px;
  display: block;
  transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  text-overflow: ellipsis;
}

.copy {
  text-align: left;
  font-size: 15px;
}

}